mixin form-head()
	form.js-form-validate( data-parsley-validate="") 
		input(type='hidden', class="order", name='order', value=`Заявка  с сайта` ) 
		block

mixin input(placeholder,  t='text', label, name= t)
	mixin t(t='text',placeholder, name= t)
		if t== "textarea"
			+e.TEXTAREA.input.form-control(placeholder= placeholder name= name)&attributes(attributes)
		else if t== "select"
			+e.SELECT.input.form-control( name= name)&attributes(attributes)
				option(value= placeholder)= placeholder
				- for (var x = 1; x < 5; x++)
					option(value=` placeholder ${x}`)= `placeholder ${x}`
		else if t=='file'
			+e.INPUT.input.form-control(type= t  name= name)&attributes(attributes)
			
		else if t=='number'
			+e.INPUT.input.form-control(type= t placeholder= placeholder step='any' name= name)&attributes(attributes)
		else
			+e.INPUT.input.form-control(type= t placeholder= placeholder  name= name)&attributes(attributes)
	+e.input-wrap.form-group
		if label
			label
				+e.SPAN.title= label
				+t(t,placeholder, name)&attributes(attributes)
				block
		else
			+t(t,placeholder, name)&attributes(attributes)
		block
	// +e.input-wrap
mixin select(label,pl,...items)
	+e.input-wrap
		label
			+e.SPAN.title= label
			+e.SELECT.input

					option()= pl
					each item in items
						option()= item

//- wrapper for form
mixin form-wrap()
	+b.form-wrap&attributes(attributes)
		form
			input(type='hidden',  name='example-input-field')
			input(type='hidden', class="order", name='order', value=`Заявка  с сайта`) 
			input(type="hidden" class='utm_source' name='utm_source')
			input(type="hidden" class='utm_term' name='utm_term')
			input(type="hidden" class='utm_medium' name='utm_medium')
			input(type="hidden" class='utm_campaign' name='utm_campaign')
			block
//- /wrapper for form


mixin in-c(typ="checkbox", text, name= typ )
	+b.LABEL.custom-input
		+e.INPUT.input(type= typ , name= name)&attributes(attributes)
		+e.SPAN.lab
		if block
			block 
		else
			+e.SPAN.text= text
 
mixin add-file(n)
	+b.add-file
		label
			+e.INPUT.input(name='file', type='file')
			+e.SPAN.btn 
			+e.SPAN.text   Прикрепить резюме
		+e.SPAN.filename 


mixin polite()
	+e.polite
		+in-c()(checked)
			+e.SMALL.text.text-secondary Согласен на обработку и хранение моих персональных данных в соответствии с условиями

mixin polite-2()
	+e.polite
		| Заполняя форму Вы соглашаетесь с условиями
		|
		a( href="https://info-dvd.ru/bbm/../../oferta?popup=1" target="_blank") пользовательского соглашения

mixin form-cont()
	+b.form-cont#form-cont
		//- if block
		//- 	block
		//- else
		+e.text
			+e.form-title Успейте оставить заявку на&nbsp;участие в тренинге
			+e.form-txt Введите свои данные прямо сейчас
		+e.man-img
			img.lazy(src='#' data-src="img/@2x/form-man.png" alt="")
		+form-wrap()
			+input('Ваше имя', 'text', '', 'fullname')(required)
			+input('+7 ( ____ ) ____ - ___ - ___', 'tel','', 'phone')(required)
			+input('E-mail (необязательно)', 'email','','email')
			+e.BUTTON.submit-btn(type="submit") Получить доступ в мастер-группу
